In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Load data
df = pd.read_csv("extracted_data.csv")
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Talcher,2017-12-22,NaN,NaN,NaN,NaN,NaN,NaN,5.15,NaN,0.02,NaN,NaN,NaN,NaN,NaN
1,Talcher,2017-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Talcher,2017-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Talcher,2017-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Talcher,2017-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Talcher,2020-06-27,20.75,25.94,8.17,21.95,15.89,6.73,1.18,18.62,48.87,0.0,NaN,NaN,90.0,Satisfactory
919,Talcher,2020-06-28,24.88,31.07,NaN,NaN,0.00,NaN,1.55,21.33,48.55,0.0,NaN,NaN,98.0,Satisfactory
920,Talcher,2020-06-29,20.37,25.46,22.82,19.64,18.96,10.23,1.59,20.79,46.84,0.0,NaN,NaN,99.0,Satisfactory
921,Talcher,2020-06-30,18.62,23.26,21.24,26.53,47.60,4.45,1.30,14.34,28.77,0.0,NaN,NaN,86.0,Satisfactory
922,Talcher,2020-07-01,24.85,31.06,27.73,29.36,57.09,1.37,1.52,14.42,14.90,0.0,NaN,NaN,101.0,Moderate

In [3]:
ex_talcher_data = df.iloc[300:924] 
ex_talcher_data

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
300,Talcher,2018-10-18,23.56,0.18,173.27,8.82,109.46,27.34,2.67,8.77,10.93,NaN,NaN,NaN,117.0,Moderate
301,Talcher,2018-10-19,58.85,0.24,105.53,19.71,82.97,24.70,2.90,16.61,13.02,NaN,NaN,NaN,119.0,Moderate
302,Talcher,2018-10-20,58.15,0.26,106.29,24.98,83.31,24.19,2.54,16.59,13.16,NaN,NaN,NaN,116.0,Moderate
303,Talcher,2018-10-21,58.19,0.26,131.63,6.61,88.74,24.31,2.44,10.61,14.24,NaN,NaN,NaN,111.0,Moderate
304,Talcher,2018-10-22,63.74,0.20,139.91,13.50,96.36,25.14,2.78,22.49,13.38,NaN,NaN,NaN,127.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,Talcher,2020-06-27,20.75,25.94,8.17,21.95,15.89,6.73,1.18,18.62,48.87,0.0,NaN,NaN,90.0,Satisfactory
919,Talcher,2020-06-28,24.88,31.07,NaN,NaN,0.00,NaN,1.55,21.33,48.55,0.0,NaN,NaN,98.0,Satisfactory
920,Talcher,2020-06-29,20.37,25.46,22.82,19.64,18.96,10.23,1.59,20.79,46.84,0.0,NaN,NaN,99.0,Satisfactory
921,Talcher,2020-06-30,18.62,23.26,21.24,26.53,47.60,4.45,1.30,14.34,28.77,0.0,NaN,NaN,86.0,Satisfactory
922,Talcher,2020-07-01,24.85,31.06,27.73,29.36,57.09,1.37,1.52,14.42,14.90,0.0,NaN,NaN,101.0,Moderate

In [26]:
# saving the extracted data to a new CSV file

ex_talcher_data.to_csv('ex_talcher_data.csv', index=False)
# reading the extracted csv file which contains Talcher data

ex_data = pd.read_csv('ex_talcher_data.csv')
ex_data

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Talcher,2018-10-18,23.56,0.18,173.27,8.82,109.46,27.34,2.67,8.77,10.93,NaN,NaN,NaN,117.0,Moderate
1,Talcher,2018-10-19,58.85,0.24,105.53,19.71,82.97,24.70,2.90,16.61,13.02,NaN,NaN,NaN,119.0,Moderate
2,Talcher,2018-10-20,58.15,0.26,106.29,24.98,83.31,24.19,2.54,16.59,13.16,NaN,NaN,NaN,116.0,Moderate
3,Talcher,2018-10-21,58.19,0.26,131.63,6.61,88.74,24.31,2.44,10.61,14.24,NaN,NaN,NaN,111.0,Moderate
4,Talcher,2018-10-22,63.74,0.20,139.91,13.50,96.36,25.14,2.78,22.49,13.38,NaN,NaN,NaN,127.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Talcher,2020-06-27,20.75,25.94,8.17,21.95,15.89,6.73,1.18,18.62,48.87,0.0,NaN,NaN,90.0,Satisfactory
619,Talcher,2020-06-28,24.88,31.07,NaN,NaN,0.00,NaN,1.55,21.33,48.55,0.0,NaN,NaN,98.0,Satisfactory
620,Talcher,2020-06-29,20.37,25.46,22.82,19.64,18.96,10.23,1.59,20.79,46.84,0.0,NaN,NaN,99.0,Satisfactory
621,Talcher,2020-06-30,18.62,23.26,21.24,26.53,47.60,4.45,1.30,14.34,28.77,0.0,NaN,NaN,86.0,Satisfactory
622,Talcher,2020-07-01,24.85,31.06,27.73,29.36,57.09,1.37,1.52,14.42,14.90,0.0,NaN,NaN,101.0,Moderate

In [27]:
# Drop columns with too many missing values
df_1 = ex_data.drop(['Benzene', 'Toluene', 'Xylene'], axis=1)
df_1

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,AQI,AQI_Bucket
0,Talcher,2018-10-18,23.56,0.18,173.27,8.82,109.46,27.34,2.67,8.77,10.93,117.0,Moderate
1,Talcher,2018-10-19,58.85,0.24,105.53,19.71,82.97,24.70,2.90,16.61,13.02,119.0,Moderate
2,Talcher,2018-10-20,58.15,0.26,106.29,24.98,83.31,24.19,2.54,16.59,13.16,116.0,Moderate
3,Talcher,2018-10-21,58.19,0.26,131.63,6.61,88.74,24.31,2.44,10.61,14.24,111.0,Moderate
4,Talcher,2018-10-22,63.74,0.20,139.91,13.50,96.36,25.14,2.78,22.49,13.38,127.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Talcher,2020-06-27,20.75,25.94,8.17,21.95,15.89,6.73,1.18,18.62,48.87,90.0,Satisfactory
619,Talcher,2020-06-28,24.88,31.07,NaN,NaN,0.00,NaN,1.55,21.33,48.55,98.0,Satisfactory
620,Talcher,2020-06-29,20.37,25.46,22.82,19.64,18.96,10.23,1.59,20.79,46.84,99.0,Satisfactory
621,Talcher,2020-06-30,18.62,23.26,21.24,26.53,47.60,4.45,1.30,14.34,28.77,86.0,Satisfactory
622,Talcher,2020-07-01,24.85,31.06,27.73,29.36,57.09,1.37,1.52,14.42,14.90,101.0,Moderate

In [28]:
float_cols = df_1.select_dtypes(include=[np.number, 'float']).columns.to_list()
selected_data = df_1[float_cols]
selected_data

     PM2.5   PM10      NO    NO2     NOx    NH3    CO    SO2     O3    AQI
0    23.56   0.18  173.27   8.82  109.46  27.34  2.67   8.77  10.93  117.0
1    58.85   0.24  105.53  19.71   82.97  24.70  2.90  16.61  13.02  119.0
2    58.15   0.26  106.29  24.98   83.31  24.19  2.54  16.59  13.16  116.0
3    58.19   0.26  131.63   6.61   88.74  24.31  2.44  10.61  14.24  111.0
4    63.74   0.20  139.91  13.50   96.36  25.14  2.78  22.49  13.38  127.0
..     ...    ...     ...    ...     ...    ...   ...    ...    ...    ...
618  20.75  25.94    8.17  21.95   15.89   6.73  1.18  18.62  48.87   90.0
619  24.88  31.07     NaN    NaN    0.00    NaN  1.55  21.33  48.55   98.0
620  20.37  25.46   22.82  19.64   18.96  10.23  1.59  20.79  46.84   99.0
621  18.62  23.26   21.24  26.53   47.60   4.45  1.30  14.34  28.77   86.0
622  24.85  31.06   27.73  29.36   57.09   1.37  1.52  14.42  14.90  101.0

[623 rows x 10 columns]

In [29]:
# handling missing data
# replacing missing values using backward and forward fill
val_1 = selected_data.bfill() # backward fill
val_1

     PM2.5   PM10      NO    NO2     NOx    NH3    CO    SO2     O3    AQI
0    23.56   0.18  173.27   8.82  109.46  27.34  2.67   8.77  10.93  117.0
1    58.85   0.24  105.53  19.71   82.97  24.70  2.90  16.61  13.02  119.0
2    58.15   0.26  106.29  24.98   83.31  24.19  2.54  16.59  13.16  116.0
3    58.19   0.26  131.63   6.61   88.74  24.31  2.44  10.61  14.24  111.0
4    63.74   0.20  139.91  13.50   96.36  25.14  2.78  22.49  13.38  127.0
..     ...    ...     ...    ...     ...    ...   ...    ...    ...    ...
618  20.75  25.94    8.17  21.95   15.89   6.73  1.18  18.62  48.87   90.0
619  24.88  31.07   22.82  19.64    0.00  10.23  1.55  21.33  48.55   98.0
620  20.37  25.46   22.82  19.64   18.96  10.23  1.59  20.79  46.84   99.0
621  18.62  23.26   21.24  26.53   47.60   4.45  1.30  14.34  28.77   86.0
622  24.85  31.06   27.73  29.36   57.09   1.37  1.52  14.42  14.90  101.0

[623 rows x 10 columns]

In [30]:
val_1.isnull().sum()

PM2.5    0
PM10     0
NO       0
NO2      0
NOx      0
NH3      0
CO       0
SO2      0
O3       0
AQI      0
dtype: int64

In [31]:
# Select columns with object data
df_2 = df_1.select_dtypes(include=["object"])
df_3 = ['City', 'Date', 'AQI_Bucket']

In [32]:
# Handle missing values in AQI_Bucket by filling with a placeholder, you can choose an appropriate method
df_2['AQI_Bucket'] = df_2['AQI_Bucket'].fillna('Unknown')

In [33]:
encoder = OneHotEncoder(handle_unknown='ignore')
df_4 = pd.DataFrame(encoder.fit_transform(df_2[df_3]).toarray(), columns=encoder.get_feature_names_out(df_3))

In [34]:
df_4

,City_Talcher,Date_2018-10-18,Date_2018-10-19,Date_2018-10-20,Date_2018-10-21,Date_2018-10-22,Date_2018-10-23,Date_2018-10-24,Date_2018-10-25,Date_2018-10-26,...,Date_2020-06-29,Date_2020-06-30,Date_2020-07-01,AQI_Bucket_Good,AQI_Bucket_Moderate,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Unknown,AQI_Bucket_Very Poor
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
619,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
620,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
621,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
622,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [35]:
transformed_data = pd.concat([df_4, val_1], axis=1)
transformed_data

,City_Talcher,Date_2018-10-18,Date_2018-10-19,Date_2018-10-20,Date_2018-10-21,Date_2018-10-22,Date_2018-10-23,Date_2018-10-24,Date_2018-10-25,Date_2018-10-26,...,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,AQI
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.56,0.18,173.27,8.82,109.46,27.34,2.67,8.77,10.93,117.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.85,0.24,105.53,19.71,82.97,24.70,2.90,16.61,13.02,119.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.15,0.26,106.29,24.98,83.31,24.19,2.54,16.59,13.16,116.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,58.19,0.26,131.63,6.61,88.74,24.31,2.44,10.61,14.24,111.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,63.74,0.20,139.91,13.50,96.36,25.14,2.78,22.49,13.38,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.75,25.94,8.17,21.95,15.89,6.73,1.18,18.62,48.87,90.0
619,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24.88,31.07,22.82,19.64,0.00,10.23,1.55,21.33,48.55,98.0
620,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.37,25.46,22.82,19.64,18.96,10.23,1.59,20.79,46.84,99.0
621,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.62,23.26,21.24,26.53,47.60,4.45,1.30,14.34,28.77,86.0
622,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24.85,31.06,27.73,29.36,57.09,1.37,1.52,14.42,14.90,101.0

In [36]:
# Split data into features and target
X = transformed_data
y = df_2['AQI_Bucket']  # Using AQI_Bucket as the target

In [37]:
# Split data into training and testing sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
# Train Logistic Regression model
from sklearn.linear_model import LogisticRegression 
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
# Make predictions
pred = lr.predict(X_test)
pred

C:\Users\KIIT0001\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array(['Satisfactory', 'Moderate', 'Moderate', 'Satisfactory', 'Severe',
       'Moderate', 'Moderate', 'Moderate', 'Very Poor', 'Unknown',
       'Satisfactory', 'Unknown', 'Moderate', 'Poor', 'Moderate',
       'Satisfactory', 'Moderate', 'Satisfactory', 'Satisfactory',
       'Unknown', 'Poor', 'Moderate', 'Moderate', 'Poor', 'Moderate',
       'Moderate', 'Satisfactory', 'Satisfactory', 'Moderate', 'Moderate',
       'Moderate', 'Moderate', 'Moderate', 'Very Poor', 'Very Poor',
       'Poor', 'Satisfactory', 'Moderate', 'Satisfactory', 'Very Poor',
       'Satisfactory', 'Moderate', 'Satisfactory', 'Good', 'Very Poor',
       'Moderate', 'Very Poor', 'Very Poor', 'Satisfactory',
       'Satisfactory', 'Moderate', 'Unknown', 'Satisfactory', 'Poor',
       'Moderate', 'Very Poor', 'Very Poor', 'Moderate', 'Unknown',
       'Very Poor', 'Satisfactory', 'Unknown', 'Moderate', 'Moderate',
       'Poor', 'Satisfactory', 'Very Poor', 'Unknown', 'Moderate',
       'Very Poor', 'Very Poor', 'Moderate', 'Satisfactory', 'Moderate',
       'Moderate', 'Poor', 'Unknown', 'Moderate', 'Very Poor', 'Unknown',
       'Very Poor', 'Satisfactory', 'Moderate', 'Satisfactory',
       'Moderate', 'Satisfactory', 'Moderate', 'Moderate', 'Very Poor',
       'Satisfactory', 'Moderate', 'Moderate', 'Moderate', 'Moderate',
       'Satisfactory', 'Moderate', 'Moderate', 'Moderate', 'Moderate',
       'Very Poor', 'Very Poor', 'Moderate', 'Satisfactory', 'Moderate',
       'Unknown', 'Very Poor', 'Poor', 'Very Poor', 'Satisfactory',
       'Satisfactory', 'Satisfactory', 'Moderate', 'Satisfactory',
       'Moderate', 'Poor', 'Satisfactory', 'Moderate', 'Unknown',
       'Unknown', 'Satisfactory', 'Moderate', 'Poor', 'Poor', 'Unknown',
       'Moderate'], dtype=object)

In [39]:
# Calculate accuracy

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)
print("Accuracy:", accuracy)

Accuracy: 0.968