In [1]:
# importing required python libraries
import numpy as np
import pandas as pd

In [3]:
# loading datasets
dataset = pd.read_csv('city_day.csv')
print(dataset)

                City        Date  PM2.5   PM10     NO    NO2    NOx    NH3  \
0          Ahmedabad  2015-01-01    NaN    NaN   0.92  18.22  17.15    NaN
1          Ahmedabad  2015-01-02    NaN    NaN   0.97  15.69  16.46    NaN
2          Ahmedabad  2015-01-03    NaN    NaN  17.40  19.30  29.70    NaN
3          Ahmedabad  2015-01-04    NaN    NaN   1.70  18.48  17.97    NaN
4          Ahmedabad  2015-01-05    NaN    NaN  22.10  21.42  37.76    NaN
...              ...         ...    ...    ...    ...    ...    ...    ...
29526  Visakhapatnam  2020-06-27  15.02  50.94   7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38  74.09   3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91  65.73   3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64  49.97   4.05  29.26  18.80  10.03
29530  Visakhapatnam  2020-07-01  15.00  66.00   0.40  26.85  14.05   5.20

          CO    SO2      O3  Benzene  Toluene  Xylene   AQI    AQI_Bucket
0       0.92  27.64  133.36     0.00     0.02    0.00   NaN           NaN
1       0.97  24.55   34.06     3.68     5.50    3.77   NaN           NaN
2      17.40  29.07   30.70     6.80    16.40    2.25   NaN           NaN
3       1.70  18.59   36.08     4.43    10.14    1.00   NaN           NaN
4      22.10  39.33   39.31     7.01    18.89    2.78   NaN           NaN
...      ...    ...     ...      ...      ...     ...   ...           ...
29526   0.47   8.55   23.30     2.24    12.07    0.73  41.0          Good
29527   0.52  12.72   30.14     0.74     2.21    0.38  70.0  Satisfactory
29528   0.48   8.42   30.96     0.01     0.01    0.00  68.0  Satisfactory
29529   0.52   9.84   28.30     0.00     0.00    0.00  54.0  Satisfactory
29530   0.59   2.10   17.05      NaN      NaN     NaN  50.0          Good

[29531 rows x 16 columns]

In [4]:
print(dataset.describe()) # to get the summary of data containing high statistical calculation

              PM2.5          PM10            NO           NO2           NOx  \
count  24933.000000  18391.000000  25949.000000  25946.000000  25346.000000
mean      67.450578    118.127103     17.574730     28.560659     32.309123
std       64.661449     90.605110     22.785846     24.474746     31.646011
min        0.040000      0.010000      0.020000      0.010000      0.000000
25%       28.820000     56.255000      5.630000     11.750000     12.820000
50%       48.570000     95.680000      9.890000     21.690000     23.520000
75%       80.590000    149.745000     19.950000     37.620000     40.127500
max      949.990000   1000.000000    390.680000    362.210000    467.630000

                NH3            CO           SO2            O3       Benzene  \
count  19203.000000  27472.000000  25677.000000  25509.000000  23908.000000
mean      23.483476      2.248598     14.531977     34.491430      3.280840
std       25.684275      6.962884     18.133775     21.694928     15.811136
min        0.010000      0.000000      0.010000      0.010000      0.000000
25%        8.580000      0.510000      5.670000     18.860000      0.120000
50%       15.850000      0.890000      9.160000     30.840000      1.070000
75%       30.020000      1.450000     15.220000     45.570000      3.080000
max      352.890000    175.810000    193.860000    257.730000    455.030000

            Toluene        Xylene           AQI
count  21490.000000  11422.000000  24850.000000
mean       8.700972      3.070128    166.463581
std       19.969164      6.323247    140.696585
min        0.000000      0.000000     13.000000
25%        0.600000      0.140000     81.000000
50%        2.970000      0.980000    118.000000
75%        9.150000      3.350000    208.000000
max      454.850000    170.370000   2049.000000

In [19]:
#creating dependent and independent variable vectors 
#for x
x=dataset.iloc[:,:-1].values # iloc = index location method
print(x)

[['Ahmedabad' '2015-01-01' nan ... 0.02 0.0 nan]
 ['Ahmedabad' '2015-01-02' nan ... 5.5 3.77 nan]
 ['Ahmedabad' '2015-01-03' nan ... 16.4 2.25 nan]
 ...
 ['Visakhapatnam' '2020-06-29' 22.91 ... 0.01 0.0 68.0]
 ['Visakhapatnam' '2020-06-30' 16.64 ... 0.0 0.0 54.0]
 ['Visakhapatnam' '2020-07-01' 15.0 ... nan nan 50.0]]

In [20]:
# for y
y=dataset.iloc[:,-1].values
print(y)

[nan nan nan ... 'Satisfactory' 'Satisfactory' 'Good']

In [21]:
# handle missing data
# count the number of missing values in each column of our dataset
print(dataset.isnull().sum())

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [22]:
# drop missing value records
dataset.dropna(inplace=True)
print(dataset)

                City        Date  PM2.5    PM10    NO    NO2    NOx    NH3  \
2123       Amaravati  2017-11-25  81.40  124.50  1.44  20.50  12.08  10.72
2124       Amaravati  2017-11-26  78.32  129.06  1.26  26.00  14.85  10.28
2125       Amaravati  2017-11-27  88.76  135.32  6.60  30.85  21.77  12.91
2126       Amaravati  2017-11-28  64.18  104.09  2.56  28.07  17.01  11.42
2127       Amaravati  2017-11-29  72.47  114.84  5.23  23.20  16.59  12.25
...              ...         ...    ...     ...   ...    ...    ...    ...
29525  Visakhapatnam  2020-06-26   7.63   32.27  5.91  23.27  17.19  11.15
29526  Visakhapatnam  2020-06-27  15.02   50.94  7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38   74.09  3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91   65.73  3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64   49.97  4.05  29.26  18.80  10.03

         CO    SO2      O3  Benzene  Toluene  Xylene    AQI    AQI_Bucket
2123   0.12  15.24  127.09     0.20     6.50    0.06  184.0      Moderate
2124   0.14  26.96  117.44     0.22     7.95    0.08  197.0      Moderate
2125   0.11  33.59  111.81     0.29     7.63    0.12  198.0      Moderate
2126   0.09  19.00  138.18     0.17     5.02    0.07  188.0      Moderate
2127   0.16  10.55  109.74     0.21     4.71    0.08  173.0      Moderate
...     ...    ...     ...      ...      ...     ...    ...           ...
29525  0.46   6.87   19.90     1.45     5.37    1.45   47.0          Good
29526  0.47   8.55   23.30     2.24    12.07    0.73   41.0          Good
29527  0.52  12.72   30.14     0.74     2.21    0.38   70.0  Satisfactory
29528  0.48   8.42   30.96     0.01     0.01    0.00   68.0  Satisfactory
29529  0.52   9.84   28.30     0.00     0.00    0.00   54.0  Satisfactory

[6236 rows x 16 columns]

In [27]:
# replace missing values

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan,strategy='mean')
imputer.fit(x[:,2:14])
x[:,2:14] =imputer.transform(x[:,2:14])
print(x[:,2:14])

[[67.45057794890306 118.12710293078135 0.92 ... 0.0 0.02 0.0]
 [67.45057794890306 118.12710293078135 0.97 ... 3.68 5.5 3.77]
 [67.45057794890306 118.12710293078135 17.4 ... 6.8 16.4 2.25]
 ...
 [22.91 65.73 3.45 ... 0.01 0.01 0.0]
 [16.64 49.97 4.05 ... 0.0 0.0 0.0]
 [15.0 66.0 0.4 ... 3.280840304500585 8.700972080037227
  3.0701278234985114]]

In [34]:
# data encoding 
# one hot encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder="passthrough")
x=np.array(ct.fit_transform(x))
print(x)

[[0.0 1.0 0.0 ... 0.02 0.0 nan]
 [0.0 1.0 0.0 ... 5.5 3.77 nan]
 [0.0 1.0 0.0 ... 16.4 2.25 nan]
 ...
 [1.0 0.0 0.0 ... 0.01 0.0 68.0]
 [1.0 0.0 0.0 ... 0.0 0.0 54.0]
 [1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 50.0]]

In [35]:
# label encoding

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)
print(y)

[6 6 6 ... 3 3 0]

In [36]:
print(dataset)

                City        Date  PM2.5    PM10    NO    NO2    NOx    NH3  \
2123       Amaravati  2017-11-25  81.40  124.50  1.44  20.50  12.08  10.72
2124       Amaravati  2017-11-26  78.32  129.06  1.26  26.00  14.85  10.28
2125       Amaravati  2017-11-27  88.76  135.32  6.60  30.85  21.77  12.91
2126       Amaravati  2017-11-28  64.18  104.09  2.56  28.07  17.01  11.42
2127       Amaravati  2017-11-29  72.47  114.84  5.23  23.20  16.59  12.25
...              ...         ...    ...     ...   ...    ...    ...    ...
29525  Visakhapatnam  2020-06-26   7.63   32.27  5.91  23.27  17.19  11.15
29526  Visakhapatnam  2020-06-27  15.02   50.94  7.68  25.06  19.54  12.47
29527  Visakhapatnam  2020-06-28  24.38   74.09  3.42  26.06  16.53  11.99
29528  Visakhapatnam  2020-06-29  22.91   65.73  3.45  29.53  18.33  10.71
29529  Visakhapatnam  2020-06-30  16.64   49.97  4.05  29.26  18.80  10.03

         CO    SO2      O3  Benzene  Toluene  Xylene    AQI    AQI_Bucket
2123   0.12  15.24  127.09     0.20     6.50    0.06  184.0      Moderate
2124   0.14  26.96  117.44     0.22     7.95    0.08  197.0      Moderate
2125   0.11  33.59  111.81     0.29     7.63    0.12  198.0      Moderate
2126   0.09  19.00  138.18     0.17     5.02    0.07  188.0      Moderate
2127   0.16  10.55  109.74     0.21     4.71    0.08  173.0      Moderate
...     ...    ...     ...      ...      ...     ...    ...           ...
29525  0.46   6.87   19.90     1.45     5.37    1.45   47.0          Good
29526  0.47   8.55   23.30     2.24    12.07    0.73   41.0          Good
29527  0.52  12.72   30.14     0.74     2.21    0.38   70.0  Satisfactory
29528  0.48   8.42   30.96     0.01     0.01    0.00   68.0  Satisfactory
29529  0.52   9.84   28.30     0.00     0.00    0.00   54.0  Satisfactory

[6236 rows x 16 columns]

In [37]:
print(x)

[[0.0 1.0 0.0 ... 0.02 0.0 nan]
 [0.0 1.0 0.0 ... 5.5 3.77 nan]
 [0.0 1.0 0.0 ... 16.4 2.25 nan]
 ...
 [1.0 0.0 0.0 ... 0.01 0.0 68.0]
 [1.0 0.0 0.0 ... 0.0 0.0 54.0]
 [1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 50.0]]

In [41]:
print(y)

[6 6 6 ... 3 3 0]

In [42]:
# split the dataset for training and testing

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)
print(x_train)
print()
print(x_test)
print()
print(y_train)
print()
print(y_test)

[[1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 103.0]
 [1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 nan]
 [1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 53.0]
 ...
 [1.0 0.0 0.0 ... 1.87 3.0701278234985114 60.0]
 [1.0 0.0 0.0 ... 6.39 0.0 98.0]
 [0.0 1.0 0.0 ... 2.1 0.05 302.0]]

[[1.0 0.0 0.0 ... 15.31 3.0701278234985114 339.0]
 [1.0 0.0 0.0 ... 0.09 3.0701278234985114 109.0]
 [1.0 0.0 0.0 ... 1.44 3.0701278234985114 74.0]
 ...
 [1.0 0.0 0.0 ... 1.66 0.42 131.0]
 [1.0 0.0 0.0 ... 8.700972080037227 3.0701278234985114 106.0]
 [1.0 0.0 0.0 ... 0.22 3.0701278234985114 57.0]]

[1 6 3 ... 3 3 5]

[5 1 3 ... 1 1 3]

In [3]:
help(dataset.info())

NameError: name 'dataset' is not defined